In [1]:
# print("hi")
# print("hi")
# print("hi")
# print("hi")
# print("hi")
# print("hi")

In [9]:
def say_hi():
    print("Hi from CB")
    print("yahoo")

In [10]:
say_hi()

Hi from CB
yahoo

In [11]:
def si(p, r, t):
    return (p * r * t) / 100

In [19]:
si(1000, 7, 2)

140.0

In [18]:
a

23

In [99]:
def salary_gen(salary):
    
    if salary > 5000:
        bonus = 500
    else:
        bonus = 200
    
    return salary + bonus

In [35]:
sal = 6000

salary_gen(sal)

6500

In [37]:
salary

NameError: name 'salary' is not defined

In [38]:
appy = "Hi"

In [46]:
def say_hi():
    appy = "Maza"
    print(appy)

In [47]:
say_hi()

Maza

In [48]:
def say_hi():
    global appy
    appy = "Maza"
    
    print(appy)

In [49]:
say_hi()

Maza

In [50]:
appy

'Maza'

In [51]:
say_hi

In [52]:
billo = say_hi

In [53]:
billo()

Maza

In [54]:
def power(x, n):
    
    return x**n

In [55]:
power(2, 10)

1024

In [56]:
pw = lambda x, n : x**n

In [57]:
pw

In [58]:
power

In [59]:
pw(2, 10)

1024

In [61]:
range(10)

range(0, 10)

In [69]:
chacha = [2, 5, 10]

In [74]:
def sq(x):
    return x**2

In [75]:
m = map(sq, chacha )

In [76]:
for item in m:
    print(item)

4
25
100

In [105]:
li = [0, 4, 6, 8, 56, 37, 11]

In [104]:
def div_2(x):
    if x % 2 == 0:
        return x

In [93]:
list(filter(lambda x: x, li))

[False, True, True, True, True, False, False]

In [107]:
list(map(div_2, li))

[0, 4, 6, 8, 56, None, None]

In [90]:
11 % 2 == 0

False

In [98]:
list(map(lambda ch: ch=="c", "chacha"))

[True, False, False, True, False, False]

In [100]:
li_sals = [4000, 7000, 2000, 1000]

In [101]:
list(map(salary_gen, li_sals))

[4200, 7500, 2200, 1200]

In [117]:
a, b, c = map(int, input().strip().split())

 12 34 56

In [125]:
li = map(int, input().strip().split())

 22 22 22334

In [127]:
list(li)

[22, 22, 22334]

In [121]:
c

56

In [122]:
int("123")

123

In [128]:
def helloji(first, second, third):
    print(first, second, third)

In [131]:
helloji(10, third=20, second=30)

10 30 20

In [132]:
helloji(10, third=20, second=30, first=10)

TypeError: helloji() got multiple values for argument 'first'

In [133]:
helloji(third=20, second=30, first=10)

10 30 20

In [134]:
helloji(third=10, 20, 30)

SyntaxError: positional argument follows keyword argument (<ipython-input-134-7daecaa67f5d>, line 1)

In [137]:
def helloji(first, second=30, third=79):
    print(first, second, third)

In [138]:
helloji(10)

10 30 79